<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

</head>
<body>
    <!-- 底部 -->
<div class="footer">
	<!-- 下底部 -->
	<div class="footer_footer">
		<div class="footer_footer_content">
			<div class="coop">
                <div style="color: white; font-size: 16px">
					<p>copyright@绿色书屋 all rights reversed</p>
				</div>
				<div class="coop_top">
					<a href="#">广告合作</a>
					<a href="#">免责声明</a>
					<a href="#">友情链接</a>
					<a href="#">联系我们</a>
					<a href="#">关于我们</a>
					<a href="#">@绿色书屋</a>
					<form class="qqgroup" name="a">
						<b>绿色书屋官方电话：</b>
						<select style="color: black">
							<option selected="selected">18164785</option>
							<option>18164785</option>
							<option>18164781</option>
							<option>18164782</option>
							<option>18164758</option>
							<option>18147858</option>
							<option>18147858</option>
							<option>18167858</option>
							<option>11647858</option>
							<option>18647858</option>
						</select>
					</form>
				</div>
             <div class="footer_last" style="color: white">
                <span>&nbsp;重庆邮电大学</span>
    			<span>&nbsp;重庆邮电大学绿色书屋</span>
                <span>&nbsp;重庆邮电大学勤工俭学组织</span>
			</div>
			</div>

		</div>
	</div>
</div>
<!-- 置顶按钮 -->
<div class="top"><a href="#top">↑</a></div>
<!-- 分享 -->
<!-- <div class="share_big">
	<div class="share">
		<div class="share_img"><img src="img/share.gif"></div>
	</div>
</div> -->
</body>
</html>